// @font-face {
//   font-family: myfont1;
//   src: url('~assets/font/摄图摩登小方体.ttf');
// }


body,
html {
  background-color: rgb(130, 130, 130);
  scroll-behavior: smooth;
}

.rounde{
  border-radius: 10px;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-family: '微软雅黑';
  background: url(~assets/img/bg.jpg) center center / cover no-repeat fixed;
  height: 100vh;
  overflow-y: auto;
}

.wrapper{
  padding-top: 70px;
}

.glassMask {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 150%;
    width: 150%;
    content: "";
    margin: -10px;
    background: url(~assets/img/bg.jpg) center center / cover no-repeat fixed;
    filter: blur(5px);
    z-index: -1;
  }
}

.align-y {
  display: inline-flex;
  align-items: center;
}

.btn-transparent {
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: white;
  cursor: pointer;
  user-select: none;
  border-radius: 0 !important;
  border: unset !important;
}

.btn-transparent:hover {
  background: rgba(255, 255, 255, 0.4) !important;
}

.btn-transparent:active {
  background: rgba(255, 255, 255, 0.5) !important;
}


*::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(138, 138, 138, 0.533)
}

*::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  // background:rgba(129, 129, 129, 0.2);
}



/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translatY(30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.line-1 {
  overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
}

.line-4 {
  -webkit-line-clamp: 4;
}

.line-5 {
  -webkit-line-clamp: 5;
}

.line-2,
.line-3,
.line-4,
.line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

.avatar {
  border: 1px solid #ccc;
  border-radius: 50%;
}

@media all and (max-width: 768px) {
  #live2d-widget {
    display: none!important;
  }
}

